/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --background-color: var(--card-bg);
    /* --gradient-color: linear-gradient(217deg, #32CD32,#fff); */
    --text-color: #17002b;
    --nav-bg: #fcf8ff;
    --card-bg: #ffffff;
    --border-color: #ececec;
    --shadow-color: rgba(0,0,0,0.1);
    --accent-color: #4facfe;
    --theme-toggle-light: #ffd700;
    --theme-toggle-dark: #666;
      /* New secondary color */
}

[data-theme="dark"] {
    --background-color: #333333;
    --text-color: #ffffff;
    --nav-bg: #2d2d2d;
    --card-bg: #2d2d2d;
    --border-color: #404040;
    --shadow-color: rgba(0,0,0,0.3);
    --accent-color:  #00f2fe;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
}

/* Navigation */
.navbar {
    position: fixed;
    width: 100%;
    background: var(--nav-bg);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

.nav-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--);
}

.logo span{
    color: var(--accent-color);
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.3s ease;
    position: relative;
}

.nav-links li a:hover {
    color: var(--accent-color);
    
}

.nav-links li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--accent-color);
    transition: width 0.3s ease;
}

.nav-links li a:hover::after {
    width: 80%;
}
/* Hero Section */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    /* background-color: var(--background-color); */
    /* background: #080101; */
    background-image: linear-gradient(0deg, #FFF , #E6E6FA);
    padding: 0;
}

.hero-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 4rem 1rem; /* Updated padding to match nav-content */
}

.hero-content {
    flex: 2;
    padding-right: 2rem;
    min-height: 80vh; /* Added minimum height */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-image {
    flex: 1;
    max-height: 70vh;
    min-height: 60vh; /* Added minimum height */
    border-radius: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: var(--text-color);
}

.hero-image img {
    max-width: 120%;
    box-shadow: 0 4px 6px var(--shadow-color);
    filter: grayscale(50%);
    transition: filter 0.3s ease-out;
}
.hero-image img:hover {
    filter: grayscale(0%);
}
.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content h2 {
    font-size: 1.8rem;
    margin-bottom: 0.7rem;
    color: var(--text-color);
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

.hero-content p {
    font-size: 1.5rem;
    color: var(--text-color);
}
.tagline p{
    font-weight: 300;
    font-size: 1.5rem;
}

.hero-content p span {
    background-color: var(--accent-color);
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:2rem;
    font-weight: 600;
}

/* Hero Section */
.hero-social-links {
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
    align-items: flex-start;
    justify-content: flex-start;
}

.hero-social-links .social-link {
    color: var(--text-color);
    font-size: 1.8rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.hero-social-links .social-link:hover {
    color: var(--accent-color);
    transform: translateY(-3px);
    /* border: 1px solid var(--accent-color);
    border-radius: 50%; */
}
.cta-btn {
    display: inline-block;
    padding: 10px 35px;
    width: auto;
    min-width: auto;
    border-radius: 40px; /* Rounded corners */
    font-weight: bold;
    color: var(--card-bg);
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%); /* Gradient */
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 242, 254, 0.3);
    /* position: relative; */
    overflow: hidden;
  }

  .cta-btn:hover {
    background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%); /* Reverse gradient on hover */
    transform: translateY(-2px); /* Lift effect */
    box-shadow: 0 6px 20px rgba(0, 242, 254, 0.4);
  }
  
  .cta-btn:active {
    transform: scale(0.95); /* Click effect */
  }
  
  /* Optional: Add an animation for the gradient */
  /* @keyframes gradientFlow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .cta-btn {
    background-size: 200% auto;
    animation: gradientFlow 5s ease infinite;
  } */
  
    
/* Add responsive design for smaller screens */
@media (max-width: 768px) {
    
    .hero-container {
        margin-top: auto;
        max-height: 90%vh;
        flex-direction: column;
        text-align: center;
    }

    .hero-content {
        padding-right: 0;
        font-size: 1rem;
    }

    .hero-content h2 {
        font-size: 1.5rem;
        text-align: center;
    }
    .hero-content p{
        font-size: 1.5rem;
    }
    .hero-content span{
        font-size: 1rem;
    }
    .tagline {
        font-size: 0.7rem;
        font-weight: 300;
    }

    .hero-image {
        display: none; /* Hide the hero image on small screens */
    }
    .hero-social-links {
        justify-content: center;
    }
}




/* Section Styles */
section {
    padding: 5rem 2rem;
}

h2 {
    text-align: center;
    margin-bottom: 3rem;
}

/* About Section */
.about-content {
    max-width: 800px;
    margin: 0 auto;
}

/* About Section */
.about-nav {
    display: flex;
    justify-content: left;
    margin: 2rem 0;
}

.about-tab {
    color: var(--card-color);
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    border: none;
    background: none;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}
.about-tab:hover{
    color: var(--accent-color);
}

.about-tab i {
    /* display: none; Hide icons by default */
    font-size: 1.2rem;
}

.about-tab.active {
    border-bottom-color: var(--accent-color);
}

.timeline-item {
    margin-bottom: 12px;
}

/* Media query for small screens */
@media (max-width: 768px) {
    .about-nav {
        justify-content: center;
        gap: 1.5rem;
    }

    .about-tab {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .about-tab i {
        display: block; /* Show icons on small screens */
    }
    .about-tab i:hover {
        color: var(--accent-color);
    }

    .about-tab span {
        display: none;
        font-size: 0.8rem;
    }
}
.about-tab.active {
    color: var(--accent-color);
    border-bottom-color: var(--accent-color);
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

/* Skills Section */
.skills-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.skill-category {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background: var(--card-bg);
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 6px var(--shadow-color);
    transition: transform 0.3s ease;
}

.skill-category:hover {
    transform: translateY(-5px);
}

.skill-category h3 {
    color: var(--accent-color);
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
}

.skill-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1rem;
}

.skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    max-width: 90%;
    border-radius: 5px;
    background: var(--border-color);
    transition: transform 0.3s ease;
}

.skill-item:hover {
    transform: scale(1.05);
}

.skill-item i {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: var(--accent-color);
}

.skill-item span {
    font-size: 0.9rem;
    color: var(--text-color);
}

.skill-item {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.skill-item i {
    font-size: 2rem;
    margin-right: 1rem;
}

/* Projects Section */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.project-card {
    background: var(--background-color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 8px rgba(0,0,0,0.1);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-info {
    padding: 1.5rem;
}

.project-links {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.project-links a {
    padding: 0.5rem 1rem;
    background: linear-gradient(45deg, #66cdaa,#39ff14);
    color: var(--background-color);
    text-decoration: none;
    border-radius: 4px;
}
.project-links a:hover{
    background-color: transparent;
    color: var(--accent-color);
    font-weight: 700;
    border: 1px solid var(--accent-color);
}

/* Contact Section */
.contact {
    padding-top:30px ;
    background: var(--card-bg);
}

.contact-content {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.contact-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    margin-bottom: 30px;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.contact-item a {
    color: var(--card-color);
    text-decoration: none;
}
.contact-item i {
    font-size: large;
    color: var(--accent-color);
    text-decoration: none;
}
.social-links {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.social-links .social-link {
    color: var(--text-color);
    font-size: 1.5rem;
    margin: 0 1rem;
    transition: all 0.3s ease;
}

.social-links .social-link:hover {
    color: var(--accent-color);
    transform: scale(1.2);
}

.social-link:hover {
    color: var(--text-color);
    border: 1px var(--primary-color);
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-info {
        align-items: center;
        margin-bottom: 20px;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger span {
        display: block;
        width: 25px;
        height: 3px;
        background: var(--accent-color);
        margin: 5px 0;
        transition: 0.3s;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--nav-bg);
        padding: 1rem;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
    }

    .hero-content h1 {
        font-size: 2rem;
    }
}

/* Theme toggle styles */
.theme-toggle {
    cursor: pointer;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.theme-toggle i {
    font-size: 1.2rem;
    transition: 0.3s;
}

.theme-toggle .fa-sun {
    display: none;
    color: var(--theme-toggle-light);
}

.theme-toggle .fa-moon {
    color: var(--theme-toggle-dark);
}

[data-theme="dark"] .theme-toggle .fa-sun {
    display: block;
}

[data-theme="dark"] .hero-image img {
    filter: grayscale(70%);
    transition: filter 0.3s ease-out;
}
.hero-image img:hover {
    filter: grayscale(0%);
}



[data-theme="dark"] .theme-toggle .fa-moon {
    display: none;
}
[data-theme="dark"] body {
    background: var(--background-color);
}
[data-theme="dark"] .hero {
    background: var(--background-color);
}

[data-theme="dark"] .nav-links a {
    color: var(--text-color);
}
[data-theme="dark"] .project-card {
    background: var(--card-bg);
}
[data-theme="dark"] .project-links a {
    color: var(--background-color);
}
[data-theme="dark"] .project-links a:hover {
    border: 2px solid;
    color: var(--accent-color);
}


/* Add these styles to your existing CSS file */

/* Typing effect styles */
.nav-links li a:hover {
    color: var(--accent-color);
}

.about-tab.active {
    border-bottom-color: var(--accent-color);
}

.typed-text {
    color: var(--accent-color);
    font-weight: bold;
}

.project-links a {
    padding: 0.5rem 1rem;
    background: var(--accent-color);
    color: var(--background-color);
    text-decoration: none;
    border-radius: 4px;
    transition: opacity 0.3s;
}

.project-links a:hover {
    opacity: 0.9;
}

.skill-item i {
    font-size: 2rem;
    margin-right: 1rem;
    color: var(--accent-color);
}

.cursor {
    display: inline-block;
    width: 3px;
    color: var(--accent-color);
    /* background-color: var(--theme-toggle-light); */
    margin-left: 2px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/* Copyright Section */
.copyright {
    text-align: center;
    padding: 2rem 0 1rem;
    margin-top: 2rem;
    border-top: 1px solid var(--border-color);
    color: var(--text-color);
}

